/* ----------- RIMS Button Styling ----------- */

#content a.btn {
  border-radius: 0;
  text-decoration: none;
}

.rims-blue-btn{
  color: #fff;
  background-color: #005189;
  border-color: #005189;
}

.rims-blue-btn:active, .rims-blue-btn.active, .open > .dropdown-toggle.rims-blue-btn {
    color: #fff;
    background-color: #073d63;
    border-color: #073d63;
}

.rims-blue-btn:hover{
    color: #fff;
    background-color: #073d63;
    border-color: #073d63;
}

.rims-blue-btn:focus, .rims-blue-btn.focus {
    color: #fff;
    background-color: #073d63;
    border-color: #073d63;
}

.rims-blue-btn:active:hover,
.rims-blue-btn.active:hover,
.open > .dropdown-toggle.rims-blue-btn:hover,
.rims-blue-btn:active:focus,
.rims-blue-btn.active:focus,
.open > .dropdown-toggle.rims-blue-btn:focus,
.rims-blue-btn:active.focus,
.rims-blue-btn.active.focus,
.open > .dropdown-toggle.rims-blue-btn.focus {
  color: #fff;
  background-color: #073d63;
  border-color: #073d63;
}

.rims-orange-btn{
  text-decoration: none;
  color: #fff;
  background-color:#DC5F13;
  border-color:#DC5F13;
}

.rims-orange-btn:active, .rims-orange-btn.active, .open > .dropdown-toggle.rims-orange-btn {
  color: #fff;
  background-color:#c94f05;
  border-color:#c94f05;
}

.rims-orange-btn:hover{
    color: #fff;
    background-color: #c94f05;
    border-color: #c94f05;
}

.rims-orange-btn:focus, .rims-orange-btn.focus {
    color: #fff;
    background-color: #c94f05;
    border-color: #c94f05;
}

.rims-orange-btn:active:hover,
.rims-orange-btn.active:hover,
.open > .dropdown-toggle.rims-orange-btn:hover,
.rims-orange-btn:active:focus,
.rims-orange-btn.active:focus,
.open > .dropdown-toggle.rims-orange-btn:focus,
.rims-orange-btn:active.focus,
.rims-orange-btn.active.focus,
.open > .dropdown-toggle.rims-orange-btn.focus {
  color: #fff;
  background-color: #c94f05;
  border-color: #c94f05;
}


.rims-grey-btn{
  text-decoration: none;
  margin-top: 15px;
  color: black;
  background-color:#dedee0;
  box-shadow: 0 3px 0 0 #7e7e7e;
}

.rims-grey-btn:active, .rims-grey-btn.active, .open > .dropdown-toggle.rims-grey-btn {
  color: black;
  background-color:#c3c3c3;
  box-shadow: 0 3px 0 0 #7e7e7e;
}

.rims-grey-btn:hover{
    color: black;
    background-color: #c3c3c3;
}

.rims-grey-btn:focus, .rims-grey-btn.focus {
    color: black;
    background-color: #c3c3c3;
}

.rims-grey-btn:active:hover,
.rims-grey-btn.active:hover,
.open > .dropdown-toggle.rims-grey-btn:hover,
.rims-grey-btn:active:focus,
.rims-grey-btn.active:focus,
.open > .dropdown-toggle.rims-grey-btn:focus,
.rims-grey-btn:active.focus,
.rims-grey-btn.active.focus,
.open > .dropdown-toggle.rims-grey-btn.focus {
  color: black;
  background-color: #c3c3c3;
  border-color: #c3c3c3;
}

/* ----------- Side navigation ----------- */

/* This code overwrites existing BEA code to alter the side navigation appearance. */
#rimsform #sidebarLeft_wrapper .sidebarLeft_baseInsert {
	height: 100%;
  position: relative;
	background-color: white;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
  padding-right: 0px;
}

#rimsform #sidebarLeft_wrapper {
  width: 100%;
  height: 100%;
  color: rgba(255,255,255,1.00);
  xfloat: left;
  position: relative;
  top: -35px;
}

#rimsform #sidebarLeft_wrapper{
	width: 100%;
  color: rgba(255,255,255,1.00);
  xfloat: left;
  position: relative;
  top: 0px; 
}

#rimsform #sidebarLeft_wrapper a {
    color: black;
    text-decoration: none;
}

/* nav is a pre-existing bootstrap class */
.nav>li>a,  .nav>a>li{
  display: inline-block; /* makes icons and text display inline */
  padding: 10px;
}

.nav>li:hover, .nav>li:visited, .nav>li:active{
  background-color: #ECEEEE;
}

.nav .menuItem {
  border-bottom: .5px solid grey;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 0px !important;
  color: black;
}

i{
  color: black;
  vertical-align: middle;
  padding-right: 5px;
}

 /*----------- Breadcrumb styling ----------- */

.breadcrumb .btn.btn-default {
  border-color: transparent;
  background-color: none;
  padding:9px 15px 6px 15px;
  font-size: 16px;
}

.breadcrumb .btn.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
     color: white;
     text-transform: bold;
     background-color: #005189; 
    border-color: #005189;
}

.breadcrumb .btn.btn-default:hover, .btn-default.hover, .open > .dropdown-toggle.btn-default {
    color: white;
     background-color: #005189; 
    border-color: #005189;
}

.breadcrumb .btn.btn-default:focus, .btn-default.focus, .open > .dropdown-toggle.btn-default {
    color: white;
     background-color: #005189; 
    border-color: #005189;
}

.breadcrumb {
  padding: 0px 0px 0px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px;
  border-bottom: .5px solid grey;
  margin-left: 1px;
}

.shopping-cart-number {
  width:40px;
  height:40px;
  padding: 10px 0 0 15px;
  margin-top: 8px;
  border:1px solid #000;
}

.shopping-cart-section {
  border-left: .5px solid grey;
}

/* ----------- Page Content ----------- */
#content .container{
  border-left: .5px solid grey;
  border-style: solid;
  padding: 0px 0 30px 0px;
}

#content .container > .row {
  padding-left: 30px;
}

#content .row {
  margin-right: 0px;
  margin-left: -15px;
}


.landing-page-heading {
    margin: 0 15px 15px 0 !important; 
}

.landing-page-p{
  margin: 0 0 10px 0 !important;
}

.landing-page-div{
  padding-bottom: 10px;
  padding-top: 20px;
}

#content ul {
  margin-left: -13px;
}

#content{
  padding: 0px 0px 0px 0px;
}


#content #ordering-heading {
  padding-bottom: 30px;
}

#content .responsive-image {
    width: 100%;
    height: auto;
}

#content .column-margin {
  margin: 0 0 0 10px;
}

/* ----------- Temporary fix for 3 images to show ----------- */
#header {
  width: 100%;
  height: 170px;
  background-color: #005189;
  background-image: url("../images/bea-final-logo-blue-backing.png");
  background-repeat: no-repeat;
  background-position: 28px 17px;
  padding-top: 10px;
  padding-left: 28px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.search-wrapper .search-textBox .search-input-text {
  width: 500px;
  padding: 10px 12px 12px 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  background-image: url(../images/icon-search-light.png);
  background-position: 8px 6px;
  background-repeat: no-repeat;
}

#content ul li,
.footerLinks_wrapper ul li,
.rims-popup ul li {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 12px;
  background-image: none; /* This code is needed to overwrite the background image */
  background-repeat: no-repeat;
  background-position: left 8px;
  padding-left: 14px;
}
