<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title>BEA | RIMS FAQ</title>
		<meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
		<meta name="author" content="htmlcoder.me">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Fontello CSS -->
		<link href="fonts/fontello/css/fontello.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
		<link href="css/animations.css" rel="stylesheet">
		<link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
		<link href="plugins/hover/hover-min.css" rel="stylesheet">		
		
		<!-- The Project core CSS file -->
		<link href="css/style.css" rel="stylesheet" >
		<!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
		<link href="css/skins/blue.css" rel="stylesheet">

		<!-- Custom css --> 
		<link href="css/custom.css" rel="stylesheet">
	</head>

	<!-- body classes:  -->
	<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
	<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
	<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
	<!-- "gradient-background-header": applies gradient background to header -->
	<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
	<body class="no-trans ">

		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">
		
			<!-- header-container start -->
			<div class="header-container">
		
			<!-- breadcrumb start -->
			<!-- ================ -->
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li class="active">RIMS II FAQ</li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container body-custom">

				<div class="container">
					<div class="row">

						<!-- sidebar start -->
						<!-- ================ -->
						<aside class="col-md-4 col-lg-3 col-lg-push-0">
							<div class="sidebar">
								<div class="block clearfix">
									<a href="sign-in.html" class="btn square btn-primary">Sign In</a>
									<a href="" class="btn square btn-primary">Order Multipliers</a>
									<nav>
										<ul class="nav nav-pills nav-stacked">
											<li><i class="fa fa-shopping-cart pr-10 list-item-custom"></i><a >Shopping Cart</a></li>
											<li><i class="fa fa-user pr-10"></i><a>View My Account</a></li>
											<li><i class="fa fa-line-chart pr-10"></i><a href="about.html">About RIMS</a></li>
											<li><i class="fa fa-newspaper-o pr-10"></i><a>Use Cases</a></li>
											<li><i class="fa fa-table pr-10"></i><a>Sample Tables</a></li>
											<li><i class="fa fa-list pr-10"></i><a>Industry Lists</a></li>
											<li class="active"><i class="fa fa-question-circle pr-10"></i><a href="faq.html">FAQ's</a></li>
											<li><i class="fa fa-pencil pr-10"></i><a>Contact Us</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</aside>
						<!-- sidebar end -->
						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-8 col-lg-offset-1 col-lg-pull-1">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Frequently Asked Questions</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
					
							<!-- accordion start -->
							<!-- ================ -->
							<div class="panel-group collapse-style-2" id="accordion-2">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2">
												How much do multipliers cost?
											</a>
										</h4>
									</div>
									<div id="collapseOne-2" class="panel-collapse collapse in">
										<div class="panel-body">
											<p>
											<strong>$275 per Region</strong>
											<ul>
												<li>Multipliers are provided for all industries in the model for the region that is ordered. The region must contain one or more contiguous counties.</li>
											</ul>
											</p>
											<p>
											<strong>$75 per Industry</strong>
											<ul>
												<li>Multipliers are provided for 50 states and the District of Columbia for the industry that is ordered.</li>
											</ul>
											</p>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2" class="collapsed">
												What is the difference between aggregate industry and detailed industry?
											</a>
										</h4>
									</div>
									<div id="collapseTwo-2" class="panel-collapse collapse">
										<div class="panel-body">
											Multipliers for the detailed industries are more likely to capture the true structure of the industry and are less subject to aggregation bias.If the structure of the regional economy has changed, more current multipliers for the aggregate industries may improve a study’s results.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-2" class="collapsed">
												What industry detail is available?
											</a>
										</h4>
									</div>
									<div id="collapseThree-2" class="panel-collapse collapse">
										<div class="panel-body">
											Multipliers are provided for 369 detailed industries (PDF) and 64 industry aggregates (PDF).
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-2" href="#collapseFour-2" class="collapsed">
												What years are RIMS II Multipliers based on?
											</a>
										</h4>
									</div>
									<div id="collapseFour-2" class="panel-collapse collapse">
										<div class="panel-body">
											<p>RIMS II multipliers are based on 2007 national benchmark input-output data and 2013 regional data, released in November 2015. 
											<br>
											The multipliers will be updated with 2014 regional data in 2016.
											<br>
											RIMS II multipliers incorporating BEA’s annual input-output accounts have been discontinued.</p>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-2" href="#collapseFive-2" class="collapsed">
												What is the suggested citation for RIMS II Multipliers?
											</a>
										</h4>
									</div>
									<div id="collapseFive-2" class="panel-collapse collapse">
										<div class="panel-body">
											RIMS II multipliers produced by the Regional Product Division of the Bureau of Economic Analysis on 2/11/2016. Analysis developed with these multipliers should be attributed to the study’s authors, rather than the Bureau of Economic Analysis.
										</div>
									</div>
								</div>
							</div>
							<!-- accordion end -->

						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->

				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter subfooter-custom">
					<div class="container">
						<div class="subfooter-inner">
							<div class="row">
								<div class="col-md-12">
									<p>Site created by the Commerce Data Service</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->
			
		</div>
		<!-- page-wrapper end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster -->
		<!-- ================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="plugins/jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>
		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<!-- Appear javascript -->
		<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
		<!-- Count To javascript -->
		<script type="text/javascript" src="plugins/jquery.countTo.js"></script>
		<!-- Parallax javascript -->
		<script src="plugins/jquery.parallax-1.1.3.js"></script>
		<!-- Contact form -->
		<script src="plugins/jquery.validate.js"></script>
		<!-- Owl carousel javascript -->
		<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>
		<!-- SmoothScroll javascript -->
		<script type="text/javascript" src="plugins/jquery.browser.js"></script>
		<script type="text/javascript" src="plugins/SmoothScroll.js"></script>
		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>
		<!-- Custom Scripts -->
		<script type="text/javascript" src="js/custom.js"></script>

	</body>
</html>
