/* Side Nav */
.navbar-fixed-left {
  width: 220px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  border-style: solid;
  border-color: white grey white white;
  padding: 30px 0 30px 20px;
}

.navbar-fixed-left .nav > li {
 	border-bottom: .5px solid grey;
}

.navbar-fixed-left .navbar-nav > li {
  float: left;  /* Cancel default li float: left */
  width: 300px;
  margin-left: 20px;
}

.navbar-fixed-left + .container {
	position: inherit;
	padding-left: 130px;
  }

.navbar-fixed-left .fa{
	vertical-align: middle;
}

.nav>li>a{
	display: inline-block;
	padding: 10px;
}

.nav>li:hover, visited{
	background-color: #ECEEEE;
}

.nav-button{
	width: 180px;
	border-radius: 0;
	margin-top: -10px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.nav-button:hover, visited{
	background-color: #337ab7;
    border-color: #2e6da4;
    text-decoration: underline;
}

#bottom-nav-button{
	margin-top: 10px;
	margin-bottom: 10px;
}


#rimsform #sidebarLeft_wrapper .sidebarLeft_baseInsert {
	height: 100%;
	padding: 10px;
	background-color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 0px;
	border-right: .5px solid grey;
}

#rimsform #sidebarLeft_wrapper{
	width: 100%;
    color: rgba(255,255,255,1.00);
    xfloat: left;
    position: relative;
    top: 0px; 
}

#rimsform #sidebarLeft_wrapper .sidebarLeft_section .menuItem {
    padding: 6px;
}